
@{
    ViewBag.Title = "Inventory";
}

<div class="card border-dark">
    <div class="card-body text-center">
        @Html.ActionLink("Back", "Index", null, new { @class = "btn btn-danger mb-3", @style = "display:block;" })
        <h2>Inventory</h2>
        <br />
        <div class="card-group">
            <div class="card border-dark text-center">
                <div class="card-body">
                    <i class="fa-solid fa-shelves fa-3x"></i>
                    @Html.ActionLink("Go", "ManageInventory", null, new { @class = "stretched-link", @style = "background: transparent;border: none !important;font-size:0;" })
                    <h5 class="card-title">Inventory</h5>
                </div>
            </div>
        </div>
        <br />
        <div class="card-group">
            <div class="card border-dark text-center">
                <div class="card-body">
                    <i class="fa-solid fa-truck-fast fa-3x"></i>
                    @Html.ActionLink("Go", "ManageOutgoing", null, new { @class = "stretched-link", @style = "background: transparent;border: none !important;font-size:0;" })
                    <h5 class="card-title">Outgoing</h5>
                </div>
            </div>
        </div>
    </div>
</div>