
@{
    ViewBag.Title = "Login";
}
<div class="card border-dark">
    <div class="card-body">
        <h2>Login</h2>
        <br />
        @using (Html.BeginForm("Index", "Login", FormMethod.Post))
        {
            <div class="container">
                <div class="row">
                    <div class="col">
                        <div class="card border-dark">
                            <div class="card-body text-center">
                                <div class="input-group mb-3">
                                    <span class="input-group-text" id="basic-addon1"><i class="fas fa-user"></i></span>
                                    <input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1" name="userID">
                                </div>

                                <div class="input-group mb-3">
                                    <span class="input-group-text" id="basic-addon1"><i class="fas fa-key"></i></span>
                                    <input type="password" class="form-control" placeholder="Password" aria-label="Username" aria-describedby="basic-addon1" name="password">
                                </div>

                                <div class="text-danger mb-3">
                                    @ViewBag.Msg
                                </div>

                                <input class="btn btn-dark" type="submit" value="Let me in!">
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        }
    </div>
</div>